{{!-- MEMES START --}}
<div id="masonry" class="memes">
{{#each model as |model|}}
  <img class="meme" src="{{model.image}}"/>
  {{!-- <div class="meme"> --}}
    {{!-- <h3>{{model.title}}</h3>
  </div> --}}
{{/each}}
</div>
{{!-- MEMES END --}}