{{#link-to "memes" class="meme-button"}}
  <span class="letter">M</span>
  <span class="letter">e</span>
  <span class="letter">m</span>
  <span class="letter">e</span>
  <span class="letter">s</span>
{{/link-to}}