{{!-- NAVBAR START --}}
{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <div class="left"> 
      {{#paper-button action=(transition-to 'memes')}}<i class="fa fa-fighter-jet"></i>{{/paper-button}}
    </div>
    <div class="right"> 
      {{#paper-button class="upload" action=(transition-to 'memes')}}Upload{{/paper-button}}
    </div>
  </div>
  <div class="md-toolbar-tools">  
    {{#paper-button class="invisible" action=(transition-to 'memes')}}<i class="fa fa-fighter-jet"></i>{{/paper-button}}  
    {{#paper-button class="meme-button" action=(transition-to 'memes')}}Memes{{/paper-button}}
  </div>
{{/paper-toolbar}}
{{!-- NAVBAR END --}}