{{!-- NAVBAR START --}}
{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <div class="left"> 
      {{#paper-button class="jet-logo" action=(transition-to 'memes')}}<i class="fa fa-fighter-jet"></i>{{/paper-button}}
      {{#link-to "memes" class="meme-button"}}Memes{{/link-to}}
    </div>
    <div class="right"> 
      {{#link-to "upload" class="upload"}}Upload{{/link-to}}
    </div>
  </div>
{{/paper-toolbar}}
{{!-- NAVBAR END --}}