<div class="social-icons">
  <div class="icon-container">
    <i class="fa fa-instagram"></i>
  </div>

  <div class="icon-container">
    <i class="fa fa-twitter"></i>
  </div>

  <div class="icon-container">
    <i class="fa fa-linkedin"></i>
  </div>

  <div class="icon-container">
    <i class="fa fa-reddit"></i>
  </div>

  <div class="icon-container">
    <i class="fa fa-pinterest"></i>
  </div>

  <div class="icon-container">
    <i class="fa fa-facebook"></i>
  </div>

  <div class="icon-container">
    <i class="fa fa-tumblr"></i>
  </div>
</div>