{{!-- MEMES START --}}
<div id="masonry" class="memes">
{{#each model as |meme|}}
  <div class="panel">
    <div class="panel-content">
      {{#link-to "memes.show" meme}}
        <img class="meme" src={{full-url meme.image}}/>
      {{/link-to}}
      {{!-- <div class="meme-info">
        <h3>{{meme.title}}</h3>
      </div> --}}
    </div>
  </div>
{{/each}}
</div>
{{!-- MEMES END --}}