{{!-- MEMES START --}}

<div class="search-bar">
  {{input value=title placeholder="Search into the abyss"}}
</div>

<div id="masonry" class="memes">
  {{#each model as |meme|}}
   
    <div class="panel">
      <div class="panel-content">
        {{meme-modal
          meme=meme
          isModalVisible=false
        }}
      </div>
    </div>
  {{/each}}

</div>

{{infinity-loader infinityModel=model}}
{{!-- MEMES END --}}