{{!-- MEMES START --}}

<div class="search-bar">
  {{input value=title placeholder="Search into the abyss"}}
</div>

<div id="masonry" class="memes">
{{#each model as |meme|}}
  {{#if (image-exists meme.image)}}
    <div class="panel">
      <div class="panel-content">
        <img class="meme" src={{full-url meme.image}} onclick={{action 'toggleModal' meme}}/>
        {{meme-modal
          meme=meme
          isVisible=isModalVisible
        }}
      </div>
    </div>
  {{/if}}
{{/each}}
</div>
{{!-- MEMES END --}}