{{!-- MEMES START --}}

<div class="search-bar">
  {{input value=title placeholder="Search into the abyss"}}
</div>

<div id="masonry" class="memes">
{{#each model as |meme|}}
  {{#if (image-exists meme.image)}}
    <div class="panel">
      <div class="panel-content">
        {{meme-modal
          meme=meme
          isModalVisible=false
        }}
      </div>
    </div>
  {{/if}}
{{/each}}
</div>
{{!-- MEMES END --}}